<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>WEB CAR | Cadastro</title>
</head>

<body>
    <div id="page-wrapper">

        <!-- Header -->
        <div id="index_page">
            
            <header id="header" class="container">
                

                <!-- Logo -->
                <div id="logo">
                    <h1>WEB CAR</a></h1>
                    
                </div><!-- Nav -->
                <nav id="nav">
                    
        </div>
        <!-- Banner -->
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <p>Insira os dados de seu veículo, e deixe o resto com a gente!</p>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
    
             															
            
                <!-- Features -->
				<div id="features-wrapper">
				<div class="container">
				<div class="row">
				<div class="col-4 col-12-medium">
                
                            
                <section id="cadastro">
                  <form action="/subscription" method="POST">
                    <div>
                        <label for="modelo">Modelo: </label>
                        <input type="text" name="modelo" id="modelo" placeholder="Insira o link da imagem. " required>
                    </div>
                    <div>
                        <label for="marca">Selecione a marca:</label>
                        <select name="marca" id="marca">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                        <option value="fiat">Fiat</option>
                        <option value="renout">Renout</option>
                        <option value="ford">Ford</option>
                        <option value="volkwagen">Volkwagen</option>
                        <option value="chary">Chary</option>
                        <option value="chevrolet">Chevrolet</option>
                        <option value="citroen">Citroen</option>
                        <option value="hyundai">Hyundai</option>
                        </select>
                      </div>
                                                      
                      <div>
                          <label for="modelo">Modelo: </label>
                          <input type="text" name="modelo" id="modelo" placeholder="Digite o modelo " required>
                      </div>
                      <div>
                          <label for="motor">Motor: </label>
                          <input type="text" name="motor" id="motor" placeholder="Digite as cilindradas do motor " required>
                      </div>
                      <div>
                          <label for="cambio">Campio: </label>
                          <input type="text" name="cambio" id="cambio" placeholder="Digite o tipo do cambio " required>
                      </div>
                      <div>
                          <label for="ano">Ano: </label>
                          <input type="text" name="ano" id="ano" placeholder="Digite a ano " required>
                      </div>
                      <div>
                          <label for="cor">Cor: </label>
                          <input type="text" name="cor" id="cor" placeholder="Digite a cor " required>
                      </div>
                      <div>
                          <label for="combustivel">Combustível: </label>
                          <input type="text" name="combustivel" id="combustivel" placeholder="Digite o combustivel " required>
                      </div>
                      <div>
                          <label for="valor">Valor: </label>
                          <input type="text" name="valor" id="valor" placeholder="Digite a valor " required>
                      </div>
                      <div>
                          <label for="descricao">Descrição adicional: </label>
                          <input type="text" name="descricao" id="descricao" placeholder="Digite a descricao " required>
                      </div>
                      <p></p>
                      <button type="submit">Cadastrar</button>
                      <a href="http://localhost:3000/">
                        <input type="button" value="Home">
                      
                </form>
                <p></p>
                
				</div>
			<div class="col-4 col-12-medium">
              <p></p>
              								
				</div>
			</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Untitled. Todos os direitos reservados</li><li>Front: Luiz Alberto Coimbra / Back: Cristina Iwassaki </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
		</div>

</body>

</html>

