<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
    <title>WEB CAR</title>
</head>
<body>
    <div id="page-wrapper">

        <!-- Header -->
            <div id="index_page">
                <header id="header" class="container">

                    <!-- Logo -->
                        <div id="logo">
                            <img src="/img/Black-Friday.png" width="200" height="100" /> 
                            
                        </div><!-- Nav -->
                        <nav id="nav">
                            <ul>
                                < <li><a href="http://localhost:3000/#" class="button alt large icon solid fa-question-circle">HOME</a></li>
                            </ul>																
            </div>
            <!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						  
							</div>
							
						</div>
					</div>
				</div>
                <p></p>  
                <!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Seja bem vindo a Web Car</h2>
								<h3>Insira os dados de seu veículo, e deixe o resto com agente!</h3>
							</div>
                  </form>
                 
				</div>
			<div class="col-4 col-12-medium">
              <p></p>
              								
				</div>
			</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Untitled. Todos os direitos reservados</li><li>Design: Luiz Alberto Coimbra</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
		</div>
</body>
</html>